<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
 
       <add name="QLSV" connectionString="Server=DESKTOP-24L225p; Database=QuanLySinhVien; 
          
          Integrated Security=SSPI"/>
 
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>
